Language: Cpp
BasedOnStyle: Google

AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
BraceWrapping:
  AfterCaseLabel:  false
  AfterEnum:       false
  AfterFunction:   true
  AfterStruct:     false
  AfterUnion:      false
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
ColumnLimit: 109
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentCaseLabels: false
IndentGotoLabels: false
IndentWidth: 4
PointerAlignment: Right
SortIncludes: true
